html, body {
  height: 100%;
  margin: 0;
}
.search-bar {
  height: 44px;
  top: 50px;
  width: 100vw;
  position: absolute;
  text-align: center;
}
.content-holder {
  position: absolute;
  top: 100px;
  width: 98vw;
  bottom: 0px;
  text-align: center;
}

.content-holder-wv {
  position: absolute;
  top: 0;
  width: 98vw;
  bottom: 0px;
  text-align: center;
}
